# Ignore node_modules (dependencies should be installed inside the container)
node_modules

# Ignore build cache and output from previous builds
build
dist


# Ignore system and IDE files
.DS_Store
Thumbs.db
.vscode
.idea

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore Git repo
.git
.gitignore
